In [6]:
#Awesome

In [8]:
## Introduction

## Welcome to my Jupyter Notebook!

In [10]:
### Data Science Languages

# Python
# R
# Julia
# SQL
# Scala

In [11]:
### Data Science Libraries

Here are some common data science libraries:

- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-Learn
- TensorFlow
- Keras
- PyTorch

<class 'SyntaxError'>: invalid syntax (<ipython-input-11-f2dbc3273a72>, line 3)

In [12]:
### Data Science Tools

| Tool            | Description                             |
|-----------------|-----------------------------------------|
| Jupyter Notebook | Interactive computing environment       |
| RStudio         | Integrated development environment for R |
| GitHub          | Version control and collaboration platform |
| Python          | High-level programming language for data science |
| R               | Statistical computing and graphics      |
| SQL             | Database query language                  |
| TensorFlow      | Machine learning framework               |
| Scikit-Learn    | Machine learning library in Python       |
| Matplotlib      | Data visualization library in Python     |
| Pandas          | Data manipulation and analysis in Python |

<class 'SyntaxError'>: invalid syntax (<ipython-input-12-41b134f6ec1f>, line 3)

In [23]:
### Arithmetic Expression Example 
Let's explore some basic arithmetic operations:

- **Addition:** `3 + 5` equals 8.
- **Subtraction:** `10 - 4` equals 6.
- **Multiplication:** `6 * 7` equals 42.
- **Division:** `15 / 3` equals 5.
- **Exponentiation:** `2^3` equals 8.

<class 'SyntaxError'>: invalid syntax (<ipython-input-23-8cd8420c2573>, line 2)

In [29]:
result = 3 * 5 + 2
result

17

In [30]:
minutes = 120
hours = minutes / 60
hours

2.0

In [31]:
### Objectives

#In this Jupyter Notebook, we aim to achieve the following objectives:

#1. Explore data science languages and libraries.
#2. Perform basic arithmetic operations.
#3. Convert minutes to hours using Python.

In [33]:
#**Kartikay**

<class 'SyntaxError'>: invalid syntax (<ipython-input-33-3f36f5b19113>, line 1)